{% extends 'layout.html' %}

{% load staticfiles %}

{% block title %}发布文件详情{% endblock %}

{% block body %}


    {% if pub_file %}
        <section xmlns="http://www.w3.org/1999/html">
            <div class="section-header">
                <ol class="breadcrumb">
                    {% ifequal pub_record.pub_status  1 %}
                        <li class="active">发布任务提交成功，后台运行中</li>
                    {% endifequal %}
                    {% ifequal pub_record.pub_status  2 %}
                        <li class="active">当前任务发布完成</li>
                    {% endifequal %}
                    {% ifequal pub_record.pub_status  -2 %}
                        <li class="active">该更新包发布失败，详情如下</li>
                    {% endifequal %}
                </ol>
            </div>
            <div class="section-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-printable style-default-light">
                            <div class="card-body style-default-bright" id="print">
                                <!-- BEGIN FILE DETAIL HEADER -->
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h1 class="text-light" style="margin-top: 0px; color: #f70b0b">运维自动化 <strong
                                                class="text-accent-dark" style="color: #1ab394">前端静态文件发布</strong></h1>
                                    </div>
                                    <div class="col-xs-4 text-right">
                                        {% ifequal pub_record.pub_status  1 %}
                                            <h1 class="text-light text-default-light">发布中</h1>
                                        {% endifequal %}
                                        {% ifequal pub_record.pub_status  2 %}
                                            <h1 class="text-light text-default-light">发布完成</h1>
                                        {% endifequal %}
                                        {% ifequal pub_record.pub_status  -2 %}
                                            <h1 class="text-light text-default-light">发布失败</h1>
                                        {% endifequal %}
                                    </div>
                                </div><!--end .row -->
                                <!-- END FILE DETAIL HEADER -->
                                <br/>

                                <br/>

                                <!-- BEGIN INVOICE PRODUCTS -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table">
                                            {#                                            <thead>#}
                                            {% ifequal pub_record.pub_status 1 %}
                                                <tr>
                                                    <th class="text-center">当前进度:</th>
                                                    <th>{{ redis_detail.pub_current_status }}</th>
                                                    <th class="text-right">发布者:</th>
                                                    <th>{{ redis_detail.pub_user }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-center">发布开始时间:</th>
                                                    <th>{{ redis_detail.starttime }}</th>
                                                    <th class="text-center"></th>
                                                    <th></th>
                                                </tr>
                                            {% endifequal %}
                                            {% ifequal  pub_record.pub_status 2 %}
                                                <tr>
                                                    <th class="text-center">当前进度</th>
                                                    <th>发布完成</th>
                                                    <th class="text-right">完成时间</th>
                                                    <th>{{ pub_record.pub_time }}</th>
                                                </tr>
                                            {% endifequal %}
                                            {% ifequal  pub_record.pub_status -1 %}
                                                <tr>
                                                    <th class="text-center">当前进度</th>
                                                    <th>发布失败</th>
                                                    <th class="text-center">失败原因</th>
                                                    <th>{{ redis_detail.error_detail }}</th>
                                                </tr>
                                            {% endifequal %}
                                            <tr>
                                                <th style="width:150px" class="text-center">发布时间:</th>
                                                <th class="text-left">{{ pub_file.create_date }}</th>
                                                <th style="width:140px" class="text-right">文件编号:</th>
                                                <th style="width:180px"
                                                    class="text-center">{{ pub_file.id }}</th>
                                            </tr>
                                            {#                                            </thead>#}
                                            <tbody>
                                            <tr>
                                                <th style="width:150px" class="text-center">文件名:</th>
                                                <th class="text-left">{{ pub_file.slug }}</th>
                                                <th style="width:140px" class="text-right">发布任务ID:</th>
                                                <th style="width:180px"
                                                    class="text-center"> {{ pub_record.record_id }}
                                                </th>
                                            </tr>
                                            <tr>
                                                <td class="text-center">所属项目:</td>
                                                <td>
                                                    {{ pub_file.app }}
                                                </td>
                                                <td class="text-right">所属平台:</td>
                                                <td class="text-center">
                                                    {{ pub_file.platform }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">发布功能任务编号:</td>
                                                <td>
                                                    {{ pub_file.bug_id }}
                                                </td>
                                                <td class="text-right">开发人员:</td>
                                                <td class="text-center">
                                                    {{ pub_file.user }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">开发者功能描述:</td>
                                                <td>  {{ pub_file.description }}   </td>
                                                {% ifequal pub_file.status 2 %}
                                                    <td class="text-right">回滚选项</td>
                                                    <td class="text-center"><a
                                                            href="{% url 'frontitems:pub_return' pub_file.id %}"
                                                            class="btn  btn-danger  ">
                                                        回滚</a></td>
                                                {% endifequal %}
                                            </tr>
                                            <tr>
                                                <td class="text-center">文件MD5:</td>
                                                <td>  {{ pub_record.pub_filemd5sum }} </td>
                                                <td class="text-right">发布文件详情:</td>
                                                <td class="text-center">
                                                    <a href="{% url 'frontitems:file_detail' pub_file.id %}?filemd5=1"
                                                       class="btn btn-primary">
                                                        查看发布文件详情列表</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>更新目录</td>
                                                <td>{{ pub_record.backuplist }}</td>
                                                <td>备份路径</td>
                                                <td>{{ pub_record.backupsavedir }}</td>
                                            </tr>
                                            {% if newfilelist %}
                                                <tr>
                                                    <td>新增文件夹</td>
                                                    <td>{% for nd in newdirlist %}
                                                        {{ nd }} <br>
                                                    {% endfor %}
                                                    </td>
                                                    <td>新增文件</td>
                                                    <td>{% for nf in newfilelist %}
                                                        {{ nf }} <br>
                                                    {% endfor %}
                                                    </td>
                                                </tr>

                                            {% endif %}


                                            </tbody>
                                        </table>
                                    </div><!--end .col -->
                                </div><!--end .row -->
                                <!-- END INVOICE PRODUCTS -->

                            </div><!--end .card-body -->
                        </div><!--end .card -->
                    </div><!--end .col -->
                </div><!--end .row -->
            </div><!--end .section-body -->
        </section>
        {#    {% endfor %}#}
    {% endif %}

{% endblock %}