{% extends 'layout.html' %}

{% block title %} 欢迎使用运维自动发布平台 {% endblock %}

{% block body %}

    <div class="card">
        <div class="card-head style-primary">
            <header>暂时无法使用该功能</header>
            <div class="tools">
                <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
            </div>

        </div>
        <div class="content">

        </div>
    </div>


{% endblock %}